.user-card {
  max-width: 300px;
  margin: 10px;
  text-align: center;
}

mat-card-content {
  padding: 16px;
}

button {
  margin-top: 10px;
}

.user-card {
  cursor: pointer;
}

.mat-card-content {
  text-align: center;
}
